/*Reseteando estilos preestablecidos*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: 3.2s linear;                                       /*PENDIENTE AJUSTAR EL EFECTO DE TODAS LAS TRANSICIONES*/
}

body{
    background: rgb(0, 0, 0);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0.75rem 8%;
    background: rgb(0, 0, 0);
    border-top: 0.1rem solid #929292;
    border-bottom: 0.1rem solid #929292;
}

header>.logo>img{
    height: 4rem;
}

header>.linksHeader>a{
    color: #ffff;
    margin-left: 1.2rem;
}

header>.opcHeader>i{
    color: #ffff;
    font-size: 1.5rem;
    margin-left: 2rem;
    cursor: pointer;
}

#carrito{
    display: none;
}

section{
    padding: 2rem 7%;
}

#home{
    min-height: 100vh;
    display: flex;
    background: url("../img/home-img.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
}

#home>div{
    max-width: 35rem;
}

#home>div>h1{
    font-family: 'Updock', cursive;
    font-size: 6rem;
    font-weight: 800;
    color: #ffff;
}

#home>div>h4{
    padding: 1rem 0;
    font-family: 'Barlow', sans-serif;
    font-size: 1.25rem;
    font-weight: 200;
    line-height: 1.8;
    color: #e4e4e4;
}

#home>div>button{
    background: #d3ad7f;
    padding: 0.80rem 2.75rem;
    margin-top: 1rem;
    font-family: 'Barlow', sans-serif;
    font-size: 1.10rem;
    font-weight: 600;
    color: #ffff;
    cursor: pointer;
}

#about{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#about>h1{
    text-transform: uppercase;
    color: #d3ad7f;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 2.5rem 0;
}

#about>h1>span{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 2.5rem 0;
}

.cardCont{
    background-color: #13131A;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.cardIzq{
    flex-basis: 350px;
    flex-grow: 1;
    flex-shrink: 1;
}

.cardDerecha{
    flex-basis: 350px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 2rem;
}

.cardIzq>img{
    width: 100%;
}

.cardDerecha>h3{
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 600;
}

.cardDerecha p{
    font-size: 1rem;
    color: #e4e4e4;
    line-height: 2;
    padding: 1rem 0;
}

.cardDerecha button{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    padding: 0.8rem 2rem;
    background: #d3ad7f;
}

#menu>h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 1.5rem;
}

#menu>h1>span{
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 600;
    color: #d3ad7f;
}

.cont_Menu{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1.5rem;
}

.card{
    border: 1px solid #575757;
    padding: 2rem;
    text-align: center;
}

.card h3{
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.card h3~h2{
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: 400;
    margin-top: 1rem;
}

.card h2 span{
    color: #c2c2c2;
    font-size: 1rem;
    font-weight: 200;
    text-decoration: line-through;
    margin-left: 0.75rem;
}

.card img{
    height: 6rem;
}

.card button{
    padding: 0.65rem 1.75rem;
    margin-top: 1rem;
    font-size: 1.25rem;
    color: #ffffff;
    background: #d3ad7f;
}

#products>h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 1.5rem;
}

#products>h1>span{
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 600;
    color: #d3ad7f;
}

.cont_Prod{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1.5rem;
}

.box{
    border: 1px solid #575757;
    padding: 2rem;
    text-align: center;
}

.acciones{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.accion{
    margin-left: 1rem;
}

.accion>i{
    border: 1px solid #575757;
    color: #ffffff;
    font-size: 1.50rem;
    padding: 0.75rem;
}

.box img{
    margin-top: 2.5rem;
}

.box h3{
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #ffffff;
}

.stars a i{
    margin-top: 1rem;
    color: #d3ad7f;
    font-size: 1.25rem;
}

.box h2{
    margin-top: 1rem;
    color: #ffffff;
    font-weight: 400;
}

.box h2 span{
    margin-left: 0.5rem;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 100;
    text-decoration: line-through;
}

#review>h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 1.5rem;
}

#review>h1>span{
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 600;
    color: #d3ad7f;
}

.cont_review{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1.5rem;
}

.review{
    border: 1px solid #575757;
    padding: 2rem;
    text-align: center;
}

.review p{
    font-size: 0.85rem;
    color: #ffffff;
    line-height: 1.8;
    text-align: justify;
    margin-top: 2rem;
}

.review h3{
    font-size: 1.25rem;
    color: #ffffff;
}

.userpic{
    width: 5rem;
    border-radius: 7rem;
    margin-top: 2rem;
}

